
                        /*  media queries */

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .blogSection{
        height: 900px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .priority{
        margin: 0px auto 80px auto;
        width: 70%;
    }

    .priority.right{
        margin-right: auto;
    }

    .aboutSection{
        padding: 40px;
    }

    .sticky{
        display: block;
    }

    
    
    .blog-primary,.blog-secondary{
        height: 336px;
        width: 600px;
        margin: 0 auto;
    }
    
    .blog-primary{
        margin-bottom: 10px;
    }
    
    .blogSection{
        height: 1400px;
        /*margin-bottom: -600px;*/
    }
    
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .blog-primary,.blog-secondary{
        height: 252px;
        width: 450px;
        margin: 0 auto;
    }
    
    .blogSection{
        height: 1050px;
    }
    
    .blog-primary{
        margin-bottom: 10px;
    }
    
    .jumboNav{
        display: none;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    
    .priority{
       width: 90%
    }

    .aboutSection{
        padding: 40px 0px;
    }
    
    .blog-wrapper{
       padding: 0% 5%;
    }
    
     .blog-primary,.blog-secondary{
         
        height: 40%;
        width: 100%;
        margin: 0 auto;
    }
    
    .blogSection{
        height: 1000px;
        
    }
    .blogSection h1{
        margin: 15%
    }
    
    .blog-primary{
        margin-bottom: 10px;
    }
    
    .vert-wrapper{
        padding: 0;
        margin: 0;
    }
    
    .jumboNav{
        display: none;
    }
    
    .jumbotron{
        height: 600px;
    }
    
    .jumbotron img{
        width: 80%;
        transform: translate(-50%, 150%);
    }
}